
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: "Inter", sans-serif;
  }
}

@layer utilities {
  .pt-safe-offset-12 {
    padding-top: max(3rem, calc(3rem + var(--safe-area-inset-top)));
  }
  
  .pt-safe-offset-16 {
    padding-top: max(4rem, calc(4rem + var(--safe-area-inset-top)));
  }
  
  .pb-safe-offset-6 {
    padding-bottom: max(1.5rem, calc(1.5rem + var(--safe-area-inset-bottom)));
  }
}

@layer components {
  .animate-accordion-down {
    animation: accordion-down 0.2s ease-out;
  }
  .animate-accordion-up {
    animation: accordion-up 0.2s ease-out;
  }
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
